<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ titre }} 
  </h1>
</div>
 <!--checkbox binder sur variable urgent-->
 <input type="checkbox"  [(ngModel)]="connected"/>


   
<div *ngIf="!connected"> <p>Cochez le bouton pour vous connecter car vous êtes "Non Connecté"....</p></div>

<div *ngIf="connected === true">  

<div class="formulaire" >
  <div>
    <!--<input type="text" value="{{user.name}}" (input)="user.name = inputname.value" #inputname/> -->
    <!--[] est du proprety binding -->
    <input type="text" [(ngModel)]="user.name"/>
  </div>
  <div>
      <input type="text" value="{{user.title}}" (input)="user.title = inputtitle.value" #inputtitle/>
    </div>
    <div>
        <input type="text" value="{{user.imgurl}}" (input)="user.imgurl = inputimgurl.value" #inputimgurl/>
      </div>
         <div>
           <!--checkbox binder sur variable urgent-->
            <input type="checkbox"  [(ngModel)]="user.urgent"/>
          </div>

          <div>
              <!--checkbox binder sur variable urgent-->
               <input type="checkbox"  [(ngModel)]="urgentvar"/>
          </div>
</div>
<div>
  <input type="text" [(ngModel)]="user.textcolor"/>
</div>
<div>
<div class="id-card">
  <!--<img class="img-card" src="{{user.imgurl}}"/> {{ }}--> <!-- interpolation -->
  <img class="img-card" [src]="user.imgurl"/> <!-- []-->
  <!-- syntaxe property binding -->
  <!--<div class="text-card" style ="color: red";> -->
    <!--<div class="text-card" [style.color]="user.textcolor"> -->
     <!-- le fait d'utilser ' ' indique que c'est une string et pas une variable à évaluer-->
     <div class="text-card" [style.color]="user.urgent ? 'red' : 'blue'"> 
      
    
  <h2> {{ user.name }}</h2>
  <p>{{ user.title }}</p>
  <p>{{ user.urgent }}</p>
  <p *ngIf="urgentvar === true"> URGENT </p>
  </div>
</div>
<br>
<div class="text-card" [style.color]="urgentvar ? 'red' : 'blue'"> 
<br>
<br>
<button (click)="logInputValue(name.value)">Merci de saisir d'abord et ensuite de click</button>
<input type="text" (input)="changeName(name.value)" value="{{ user.name }}" #name/>
<br>
<br>
<button (click)="logInputValue(title.value)">Merci de saisir d'abord et ensuite de click</button>
<input type="text" (input)="changeTitle(title.value)" value="{{ user.title }}" #title/>
<br>
<br>
<button (click)="logInputValue(imgurl.value)">Merci de saisir url image d'abord et ensuite de click</button>
<input type="text" (input)="changeImgUrl(imgurl.value)" value="{{ user.imgurl }}" #imgurl/>

</div>






